/* .card-starships */
.card-starships {
  background: linear-gradient(180deg, #7A8288, #272B30);
  border-radius: 5px;
  box-shadow:  1px 1px 10px 5px var(--lowYellow);
  height: 300px;
  height: 565px;
  margin-top: 20px;
  padding: 5px;
  width: 200px;
}

.card-starships article {
  height: 500px;
}

.card-starships h2 {
  color: var(--yellow);
  text-align: center;
}
.card-starships p span {
  color: var(--black);
  font-weight: 700;
}
.card-starships p  {
  color: var(--blue);
  text-align: center;
}

.starships-container{
  align-items:flex-end;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  margin-top: 10px;
  margin: 54px;
}

.link-starships {
  background-color: var(--lowGray);
 border-radius: 5px;
 bottom:0px;
 color: var(--black);
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 2px;
 padding: 6px;
 position: relative;
 text-align: center;
 text-decoration: none;
}

.eye {
  margin-right: 5px;
}

.link-starships:hover {
  background-color: var(--lowYellow);
  color: white;
}