/* .card-films */
.card-films {
  background: linear-gradient(180deg, #7a8288, #272b30);
  border-radius: 5px;
  box-shadow: 1px 1px 10px 5px var(--red);
  height: 300px;
  height: 335px;
  margin-top: 20px;
  padding: 5px;
  width: 200px;
}

.card-films h2 {
  color: var(--yellow);
  text-align: center;
}
.card-films p span {
  color: var(--black);
  font-weight: 700;
}
.card-films p {
  color: var(--blue);
  text-align: center;
}

.card-film_article {
  height: 338px;
}

.films-container {
  align-items: center;
  background-attachment: fixed;
  background-image: url("/public/assets/spaceBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-items: center;
  margin-top: 10px;
}

.link-films {
  background-color: var(--orange);
  align-items: center;
  border-radius: 5px;
  bottom: 60px;
  color: var(--black);
  display: flex;
  justify-content: center;
  margin: 2px;
  padding: 6px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.eye {
  margin-right: 5px;
}

.link-films:hover {
  background-color: var(--blue);
  color: white;
}

@media screen and (min-width: 1440px) {
  .films-container {
    height: 70vh;
    margin-top: 0;
  }
}
