/* .card-vehicles */
.card-vehicles {
  background: linear-gradient(180deg, #7A8288, #272B30);
  border-radius: 5px;
  box-shadow:  1px 1px 10px 5px var(--white);
  height: 300px;
  height: 515px;
  margin-top: 20px;
  padding: 5px;
  width: 200px;
}

.card-vehicles h2 {
  color: var(--yellow);
  text-align: center;
}
.card-vehicles p span {
  color: var(--black);
  font-weight: 700;
}
.card-vehicles p  {
  color: var(--blue);
  text-align: center;
}

.vehicles-container{
  align-items:flex-end;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  margin-top: 10px;
  margin: 54px;
}

.card-vehicle_article {
  height: 462px;
}

.link-vehicle {
  background-color: var(--lowGray);
 border-radius: 5px;
 bottom: 5px;
 color: var(--black);
 display: block;
 margin: 2px;
 padding: 6px;
 position: relative;
 text-align: center;
 text-decoration: none;
}

.link-planet:hover {
  background-color: var(--green);
  color: white;
}