/* .card-vehicles */
.card-vehicles {
  background: linear-gradient(180deg, #7a8288, #272b30);
  border-radius: 5px;
  box-shadow: 1px 1px 10px 5px var(--white);
  height: 300px;
  height: 515px;
  margin-top: 20px;
  padding: 5px;
  width: 200px;
}

.card-vehicles h2 {
  color: var(--yellow);
  text-align: center;
}
.card-vehicles p span {
  color: var(--black);
  font-weight: 700;
}
.card-vehicles p {
  color: var(--blue);
  text-align: center;
}

.vehicles-container {
  align-items: flex-end;
  background-attachment: fixed;
  background-image: url("/public/assets/spaceBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-items: center;
  margin-top: 10px;
}

.card-vehicle_article {
  height: 462px;
}

.link-vehicle {
  background-color: var(--orange);
  align-items: center;
  border-radius: 5px;
  bottom: 5px;
  color: var(--black);
  display: flex;
  justify-content: center;
  margin: 2px;
  padding: 6px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.eye {
  margin-right: 5px;
}

.link-vehicle:hover {
  background-color: var(--blue);
  color: white;
}
