.search-container {
  background-attachment: fixed;
  background-image: url("/public/assets/darth-vader-hatterkep.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 77vh;
  padding: 20px;
  position: relative;
  top: 33px;
}

.search-container h2 {
  color: var(--yellow);
}

.seach-form_input {
  background-color: black;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 10px 5px 10px 5px;
  width: 65%;
}

.search-form_button {
  background-color: var(--orange);
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 600;
  margin-left: 3px;
  padding: 10px;
  width: 28%;
}

.search-results {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.search-result_articles {
  border-radius: 5px;
  border: 1px solid red;
  color: white;
  margin: 5px;
  text-align: center;
  width: 100%;
}
.search-result_articles p {
  color: white;
}

.no_results {
  color: yellow;
}

@media screen and (min-width: 321px) and (max-width: 830px) {
  .seach-form_input {
    width: 60%;
  }
}
@media screen and (min-width: 831px) {
  .search-container {
    top: 0;
  }
  .seach-form_input {
    width: 60%;
  }
}
