:root {
  --black: #000000;
  --blue: #5294C3;
  --gradient: linear-gradient(#0D1845, #8bb0d8);
  --gray: #7A8288; 
  --green: #7FA53B;
  --lowGray: #C8C8C4;
  --lowWhite: #f1f1f1;
  --lowYellow: #BF911B;
  --midGray: #272B30;
  --midLowGray: #3C4147;
  --orange: #E05F38;
  --purple: #B44FCF;
  --red: #F12D2D;
  --strongGray: #1C1E22;
  --white: rgb(243, 216, 216);
  --yellow: #FFE300;
}

#root {
  background-color: var(--midGray);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


