.dropBtn {
  border: none;
  cursor: pointer;
  display: block;
  position: fixed;
  top: 0;
  font-size: 16px;
  font-weight: 700;
  padding: 16px;
  text-align: start;
  width: 100vw;
  background: var(--gradient);
}

.dropBtn svg {
  margin-right: 15px;
  color: var(--orange);
  width: 25px;
  font-weight: 900;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  background-color: var(--gray);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  max-width: 600px;
  min-width: 200px;
  position: absolute;
  top: -18px;
  z-index: 999;
  border-bottom-right-radius: 5px;
}

.dropdown-content .link {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 16px;
  text-decoration: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown-content .link:hover {
  background-color: var(--lowWhite)
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media only screen and (min-width: 830px) and (max-width: 960px) {
  .dropdown {
    display: inline-block;
    position: relative;
    width: 100%;
  }
  .dropBtn {
    display: none;
  }
  .dropdown-content {
    display: flex;
    font-weight: 700;
    justify-content: flex-end;
    max-width: 960px;
    min-width: 320px;
    padding: 16px;
    position: relative;  
   
}
  .dropdown-content .link:hover {
    border-radius: 25px;
}
  
  .dropdown:hover .dropdown-content {
    display: flex;
  }
}

@media only screen and (min-width: 831px) {
  .dropdown {
    display: inline-block;
    position: relative;
    width: 100%;
  }
  .dropBtn {
    display: none;
  }
  .dropdown-content {
    background: var(--gradient);
    display: flex;
    font-weight: 700;
    justify-content: flex-end;
    max-width: 2720px;
    padding: 16px;
    position: relative;
    top: 0;
    border-bottom-right-radius: 5px;
  }

  .dropdown-content .link:hover {
    background-color: var(--lowWhite);
    color: var(--black);
    border-radius: 5px;}

  .active {
    background-color: var(--white);
    border-radius: 5px;
}
  
  .dropdown:hover .dropdown-content {
    display: flex;
  }
}
